
<%= bootstrap_form_for(@product , url: products_path , :multipart => true) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :category_id, :value => @category.id%>
  <div class="field">
    <%= f.label :name, 'Име на продукта' %><br>
    <%= f.text_field :name , hide_label: true %>
  </div>
  <div class="field">
    <%= f.label :price, 'Цена' %><br>
    <%= f.text_field :price , hide_label: true %>
  </div>
  <div class="field">
    <%= f.label :promotion, 'Промоция' %><br>
    <%= f.text_field :promotion , hide_label: true %>
  </div>
  <% if @category.sub_categories.exists? %>
  <div class="field">
    <%= f.label :subcategory_id , 'Под-Категория' %><br>
    <%= f.select :subcategory_id , options_for_select(SubCategory.where(:category_id => @category.id).collect{ |f| [f.name, f.id] }) , hide_label: true %>
  </div>
  <% end %>

  <% if params[:type] == "technosti" %>
  <div class="field">
    <%= f.label :nicotine , 'Никотин:' %><br>
    <label class="checkbox-inline">
      <%= check_box_tag 'a', 'a' %> 0%
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'b', 'b' %> 0.6%
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'c', 'c' %> 0.9%
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'd', 'd' %> 1.2%
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'e', 'e' %> 1.8%
    </label>
  </div>
<br>
   <% end %>
  <div class="field">
    <%= f.label :in_stock , 'В наличност' %><br>
    <%= f.number_field :in_stock , hide_label: true %>
  </div>
  <div class="field">
    <%= tinymce_assets %>
    <%= tinymce %>
    <%= f.label :description , 'Описание' %><br>
    <%= f.text_area :description , :class => "tinymce", :rows => 10, :cols => 10 , hide_label: true %>
  </div>
  <% unless params[:type] == "technosti" || params[:type] == "bijuta" %>
  <div class="field">
    <%= f.label :colors , 'Цветове:' %><br>

    <label class="checkbox-inline">
      <%= check_box_tag 'red', 'red' %> Червен
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'blue', 'blue' %> Син
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'black', 'black' %> Черен
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag 'inox', 'inox' %> Inox
    </label>
  </div>
  <% end %>
<br>
  <div class="field">
    <%= f.label :image, "Главна Снимка" %><br>
    <%= f.file_field :image , hide_label: true %>
  </div>
  <div class="field">
    <hr>
    <h4>Допълнителни Снимки:</h4>
    <hr>
  </div>

  <% i=0 %>
  <%= f.fields_for :additional_image do |builder| %>
  <p>
    <%= builder.label :image , "Снимка #{i+=1}" %>
    <%= builder.file_field :image , hide_label: true %>
  </p>
  <% end %>
  <div class="actions">
    <%= f.submit "Създай Продукт" %>
  </div>
<% end %>
